.container{
    width: 100%;
    border: black solid 2px;
}

.heading{
    width: 100%;
    border: black solid 2px;
    text-align: center;
}

.box{
    width: 100%;
    display: flex;
}

.left{
    border: black solid 2px;
    width: 50%;
}

.right{
    border: black solid 2px;
    display: flex;
    align-items: center;
    width: 50%;
}

@media screen and (max-width: 1180px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .heading{
        width: 50%;
        position: absolute;
        right: 0;
    }
    .box{
        width: 1005;
    }
    .left{
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .heading{
        position: static;
        width: 100%;
    }
    .box{
        display:flex;
        flex-direction: column;
        width: 1005;
    }
    .left{
        width: 100%;
    }
    .right{
        width: 100%;
    }
}